.section #basic-2-flip-flop-synchronizer{
     text-align:justify;
}

/* Center the RTD placement when not wide enough to float */
#rtd-stickybox-container {
  text-align: justify;
}

div.body p {
    text-align: justify;
    margin: 1.5em 0 1.5em 0;
}

div.body li, div.body dd {
    text-align: justify;
}

table.docutils .justify-align {
    text-align: justify;
}
